html {
    scroll-behavior: smooth;
}

.ld-datatable-container {
    height: 200px;
    overflow-y: auto;
    position: relative;
    display: inline-block;
    width: 1200px;
}

.ld-datatable-header {
    padding-right: 18px;
    border-spacing: 0;
    border-collapse: initial;
}

.ld-datatable {
    width: 100%;
    position: absolute;
    top: 0px;
    border-spacing: 0;
    border-collapse: initial;
}

.ld-datatable tr {
    height: 40px;
}

.ld-datatable-header thead tr th {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px -2px 2px darkgrey;
    border-bottom: 1px solid darkgrey;
    min-width: 80px;
    text-overflow: ellipsis;
    z-index: 11;
    position: relative;
    float: left;
}

.ld-datatable td {
    background-color: white;
    text-overflow: ellipsis;
}

.ld-datatable tbody {
    border: 1px solid darkgrey;
}

.ld-datatable tbody td.ld-datatable-fixed {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    left: 0;
    z-index: 10;
}

.ld-datatable-header thead th.ld-datatable-fixed {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    left: 0;
    z-index: 12;
}

span.ld-datatable-move-handle {
    float: left;
    position: absolute;
}

span.ld-datatable-move-handle:hover {
    cursor: pointer;
}

span.ld-datatable-resize-handle {
    float: right;
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: royalblue;
    opacity: 0;
    right: 0;
    top: 0;
    z-index: 20;
}

span.ld-datatable-resize-handle:hover {
    opacity: 1;
    cursor: col-resize;
}

div.ld-datatable-move-ghost-placeholder {
    height: 150px;
    border: 1px solid rgba(88, 88, 88, 0.3);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
}

.ld-datatable-header th.ld-datatable-move-hover {
    background-color: darkgrey;
    color: white;
}

.ld-datatable-loading-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.5);
}

.ld-datatable-loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
to { -webkit-transform: rotate(360deg); }
}